.sign-up-container {
    display: grid;
    justify-content: center;
    width: 500px;
    border: 1px solid rgb(95, 135, 194);;
    margin-top: 100px;
    padding: 75px;
    box-shadow: gray 7px 7px 12px -7px;
}
