.room-nav-link {
  border: 1px solid lighten($primary, 40%);
  background: lighten($primary, 45%);

  & + .room-nav-link {
    border-top: 0 none;
  }
}

.home-container {
  display: grid;
  grid-template-areas: "room user";
  margin-top: 50px;
  justify-content: space-between;
  grid-gap: 20px;
  .all-rooms {
      grid-area: room;
      width: 25vw;
  }
  .all-users {
      grid-area: user;
      width: 25vw;
      h2 {
        background-color: rgb(221, 221, 221);
      }
  }
}

.index-container {
  margin-top: 50px;
}