<div class="index-container">
  <div class="col" style="padding: 0">
    <div class="alert alert-primary">
      <h4 class="alert-heading">
        Welcome to the RailsChatTutorial!
      </h4>

      <p>
        We need to talk.
      </p>

      <hr />

      <p>
        You can create or join a room from the sidebar.
      </p>
    </div>
  </div>

<div class="mb-3">
  <%= link_to new_room_path, class: 'btn btn-primary' do %>
    Create a room
  <% end %>
</div>

  <div class="home-container">
    <div class="all-rooms">
      <div class="">
        <%= render partial: 'rooms' %>
      </div>
    </div>

    <div class="all-users">
      <h2>Chat</h2>
        <% User.all.each do |user| %>
          <br>
            <%= user.email %>
          </br>
        <% end %>
    </div>

    <div>
      <h2>Profiles</h2>
      <% User.all.each do |user| %>
        <%= link_to user.first_name, user_path(user.id), class: 'nav-link room-nav-link' %>
      <% end %>
    </div>
  </div>
</div>



