<div class="index-container">
  <div class="col" style="padding: 0">
    <div class="alert alert-primary">
      <h4 class="alert-heading">
        Welcome to the ChaiChat!
      </h4>

      <p>

      </p>

      <hr />

      <p>

      </p>
      <div class="mb-3">
        <%= link_to new_room_path, class: 'chat-button' do %>
          Chat with someone!
        <% end %>
      </div>
    </div>
  </div>

  <div class="home-container">
    <div class="all-rooms">
      <div class="">
        <h2>Recent chats</h2>
        <%= render partial: 'rooms' %>
      </div>
    </div>

    <div class="all-users">
      <h2>Profiles</h2>
      <% User.all.each do |user| %>
        <%= link_to user.first_name, user_path(user.id), class: 'nav-link room-nav-link' %>
      <% end %>
    </div>
  </div>
</div>





