<div class="row">
  <div class="">
    <%= render partial: 'rooms' %>
  </div>

  <div class="col">
    <div class="alert alert-primary">
      <h4 class="alert-heading">
        Welcome to the ChaiChat!
      </h4>

      <p>
        Select a user to talk to.
      </p>

      <hr />

      <p>
        You can create or join a room from the sidebar.
      </p>
    </div>


</div>

<div>
  <h2>Users</h2>
    <% User.all.each do |user| %>
      <br>
        <%= user.email %>
      </br>
    <% end %>
</div>
