.nav-bar {
  background-color: blue;
  height: 8vh;
  position: fixed;
  top: 0px;
  width: 100%;
  display: grid;
  align-content: center;
  align-items: center;
}

.brand-img {
  height: 5vh;
  width: 5vh;
  left: 1vh;
  top: 1vh;
  position: absolute;
}

.login {
  right: 0px;
  top: 4vh;
  position: absolute;
}

.nav-button {
  text-decoration: none;
  color: white;
  border: 1px solid black;
  border-radius: 3px;
  padding: 5px;
  margin: 1px;
  display: inline-block;
}

.nav-button:hover {
  text-decoration: none;
  background-color: white;
  color: white;
  transition: 0.5s;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

ul {
  list-style-type: none;
  background-color: blue;
  margin-bottom: 0;
  // display: grid;
  // grid-gap: 10px;
}

li {
  text-align: center;
  float: right;
}

.avatar {
  border-radius: 50%;
  width: 5vh;
}
