@import 'config';
.nav-bar {
  background-color: $primary-colour;
  height: 8vh;
  position: fixed;
  top: 0px;
  width: 100%;
  display: grid;
  align-content: center;
  align-items: center;
  text-align: end;
  z-index: 1;
}

.brand-img {
  width: 60px;
  left: 1vw;
  top: 2vh;
  position: absolute;
}

.login {
  right: 0px;
  top: 4vh;
  position: absolute;
}

.nav-button {
  text-decoration: none;
  color: white;
  background-color: $primary-colour;
  border-radius: 3px;
  padding: 5px;
  margin: 1px;
  display: inline-block;
}

.nav-button:hover {
  text-decoration: none;
  background-color: $dark-colour;
  color: white;
  transition: 0.5s;
  // text-shadow:
  //   -1px -1px 0 #000,
  //   1px -1px 0 #000,
  //   -1px 1px 0 #000,
  //   1px 1px 0 #000;
}

ul {
  list-style-type: none;
  margin: 0 1vw 0 0;
  overflow: hidden;
}

li {
  display: inline-block;
  // text-align: center;
  // float: left;
  right: 1vw;
}

.avatar {
  border-radius: 50%;
  width: 5vh;
}

