  @import "bootstrap";

// Components
  @import 'components/navbar';
  @import 'components/config';
  
// Pages
  @import 'pages/home';
  @import 'pages/rooms/index';
  @import 'pages/rooms/show';
  @import 'pages/rooms/new';
  @import 'pages/login';
  @import 'pages/signup';
  @import 'pages/forgot_password';

.below-nav {
  top: 50px;
  position: absolute;
  width: 100vw;
}

.col-12 {
  display: grid;
  justify-content: center;
}
